

{
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"useTabs": true,
	"svelteSortOrder": "styles-scripts-markup",
	"svelteBracketNewLine": false,
	"svelteAllowShorthand": true,
	"svelteIndentScriptAndStyle": true,
	"svelteInlineAttributes": true
  }
  